
.col-md-2, .col-md-10{
    padding:0;
    
}
.panel{
    margin-bottom: 0px;
     height:200px;
}
.chat-window{
    bottom:10;
    position:fixed;
    float:right;
    margin-left:10px;
    height:200px;
}
.chat-window > div > .panel{
    border-radius: 5px 5px 0 0;
        height:200px;
}

.msg_container_base{
  background: #e5e5e5;
  margin: 0;
  padding: 0 10px 10px;
  max-height:200px;
  overflow-x:auto;
  height:200px;
}
.top-bar {
  background: #666;
  color: white;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.msg_receive{
    padding-left:0;
    margin-left:0;
}
.msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
}
.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:100%;
}
.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
  }

.msg_container {
    padding: 10px;
    overflow: auto;
    display: flex;
}

.base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}



